*{
    padding: 0;
    margin: 0;
    color: white;
}

body{
    font-family: system-ui;
    background-color: #001;
    /* background-color: white; */
    display: flex;
}
.menu{
    background-color: #123;
    width: 60px;
    height:100vh;
    padding: 20px;
    overflow-y: hidden;
    transition: .5s;
    font-weight: bold;
    z-index: 10;
    
}
.menu {
    background-color: #123;
    width: 60px;
    height: 100vh;
    padding: 20px;
    overflow-y: hidden; 
    transition: .5s;
    font-weight: bold;
    z-index: 10;
    position: fixed; 
}
.content {
    width: 100%;
    margin-left: 90px; 
    padding: 20px;
    box-sizing: border-box; 
}

ul{
    list-style: none;
    position: relative;
    height: 95%;
}
ul li a{
    display: block;
    text-decoration: none;
    padding: 10PX;
    margin: 10px 0;
    border-radius: 8px;
    display: flex;
    align-items: center;
    gap: 40px;
    transition:.5s;
}
ul li a:hover,td:hover,.active{
    background-color: #ffffff55;
}
.logout{
    position: absolute;
    bottom: 0;
    width: 100%;
}
.logout a{
    background-color: red;
}
ul li a i{
    font-size: 30px;
}
.image-box{
    width: 50px;
    height: 50px;
    border-radius: 50%;
    overflow: hidden;
    margin-right: 20px;
    border: 3px solid white;
    flex-shrink: 0;
}
.image-box img{
    width: 100%;
    
}
.profile{
    display: flex;
    align-items: center;
    padding-bottom: 50px;   
}
.profile h2{
    font-style: 20px;
    text-transform:capitalize;
    overflow: hidden;
}
.menu:hover{
    width: 260px;
}
.content{
    width: 100%;
}
.title-info{
    background-color: #0481ff;
    color: white;
    margin: 5px;
    padding: 20px;
    font-weight: bold;
    border-radius: 8px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.data-info{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px;
    flex-wrap: wrap;
    gap: 10px;   
}
.data-info .box{
    background-color: #123;
    height: 150px;
    flex-basis: 150px;
    border-radius: 8px;
    flex-grow: 1;
    display: flex;
    align-items: center;
    justify-content: space-around;
    
}
.data-info .box:hover{
    background-color: #0481ff;   
}

.data-info .box i{
    font-size: 40px;
}
.data-info .box .data{
    text-align: center;
}
.data-info .box .data span{
    font-size:30px;
    font-weight: bolder;
}
a{
    text-decoration: none;
}
table{
    width: 100%;
    text-align: center;
    border-spacing: 6px;
   
}
th,td{
    background-color: #123;
    height: 40px;
    border-radius: 6px;
}
th{
    background-color: #0481ff;
}
.action-button {
    display: inline-block;
    width: 80px;
    height: 30px;
    line-height: 30px;
    background-color: #0481ff;
    color: white;
    border: none;
    border-radius: 4px;
    text-decoration: none;
    text-align: center;
    transition: background-color 0.3s ease;
}

.action-button:hover {
    background-color: #0450a5;
}

.delete-button {
    background-color: red;
    text-align: center;
}

.delete-button:hover {
    background-color: darkred;
    cursor: pointer;
}

.buttons {
    display: flex;
    align-items: center;
    justify-content: space-around;
    height: 100%; 
}
/* Common styles for buttons and selects */
select,.filter-bar button,.search-bar button {
    padding: 8px 15px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}


.search-bar {
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: 10px;
}

.search-bar input[type="text"] {
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
    width: 250px;
    color: #000;
}

.search-button {
    background-color: #0481ff;
    color: white;
}

.search-button:hover {
    background-color: #0450a5;
}

.filter-bar {
    margin-bottom: 20px;
    margin-left: 10px;
}

.category-select {
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
	width: 260px;
    color: #001;
}
.category-select option{
color: #000;
}
.filter-button {
    background-color: #0481ff;
    color: white;
    margin-left: 10px;
	width: 75px;
}

.filter-button:hover {
    background-color: #0450a5;
}
.centered-content {
    display: flex;
    align-items: center;
    justify-content: flex-start;
}